* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul-li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

* {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.hello {
  background-color: #CAC6EB;
  padding: 50px 0;
}

.container {
  min-width: 1180px;
  margin: 0px auto;
}

.helloRow {
  display: flex;
  justify-content: space-between;
}

.helloBody {
  color: #fff;
  padding: 0px 39px 0px 0px;
}

.helloTitle {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  margin: 0px 0px 38px 0px;
}

.helloList li {
  background-color: #4E70EB 0 1px no-repeat;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 22px;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 15px 0px;
}

.helloList li:last-child {
  margin: 0;
}

.title {
  color: #5BEB53;
  font-size: 30px;
  line-height: 36px;
}

.what {
  padding: 50px 0px;
}

.whatRow {
  display: flex;
}

.whatImage {
  flex: 0px 0px 225px;
}

.whatImage img {
  max-width: 100%;
}

.whatBody {
  flex: 1 1 auto;
  padding: 0px 0px 0px 38px;
}

.whatTitle {
  margin: 0px 0px 33px 0px;
}

.whatText p {
  color: #2ED8EB;
  margin: 0px 0px 25px 0px;
  font-size: 16px;
  line-height: 24px;
}

.columns {
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
}

.columnsTitle {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.columnsRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 8px;
}

.columnsColumn {
  padding: 0px 8px;
  flex: 0 1 50%;
  margin: 0px 0px 30px 0px;
}

.itemRow {
  display: flex;
}

.itemImage {
  flex: 0 0 200px;
}

.itemBody {
  flex: 1 1 auto;
  padding: 0px 0px 0px 15px;
}

.itemTitel {
  color: #445161;
  font-style: 24px;
  line-height: 30px;
  margin: 0px 0px 13px 0px;
}

.itemText {
  color: #333333;
  font-style: 16px;
  line-height: 24px;
}

.vertical {
  padding: 50px 0;
}

.verticalTitle {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.verticalBody {
  max-width: 990px;
  margin: 0px auto;
}

.verticalRow {
  display: flex;
  margin: 0px 22.5px;
}

.verticalColumn {
  flex: 0 1 33.333%;
  padding: 0px 22.5px;
  display: flex;
}

.verticalItem {
  background-color: #445162;
  color: #fff;
  padding: 0px 0px 20px 0px;
  border-radius: 5px;
  border: 1px solid #445162;
  display: flex;
  flex-direction: column;
}

.vertical_subtitle {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 0;
}

.verticalLable {
  text-align: center;
  background-color: #fff;
  color: #445162;
  padding: 15px 0;
  font-style: 40px;
}

.verticalText {
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  flex: 1 1 auto;
}

.verticalText p {
  margin: 0px 0px 15px 0px;
}

.verticalText p:last-child {
  margin: 0;
}

.vertical_btn {
  display: block;
  margin: 0px 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  color: #F44330;
  font-size: 18px;
  background-color: #F4EF51;
}

.footer {
  background-color: #f5f5f5;
}

.footerRow {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;
}
